@model Web_Projem.Models.Users
@{
    ViewData["Title"] = "Home Page";
}

@*home index *@

@foreach (var item in ViewBag.Liste)
{


    <hr />
    <p>@item.Id</p>
    <div class="row" style="height:95%;background-color:rgb(30,30,30)">
        <div class="col-2"></div>
        <div class="col-4" style="border-style:solid;border-color:rgb(80,80,80);color:white;height:70%">
            @* buralarıda vetirabanından çek *@
            <div style="border-style:solid;border-radius:4%;border-color:rgb(35,35,35);">
                @item.User
            </div>
            <div style="display:table;height:70%;width:100%">
                <image src="@item.Url" style="height:auto;width:fit-content;max-width:400px"></image>
                <p style="display:none">@item.Id</p>
            </div>
            <div style="border-style:solid;border-radius:2%;border-color:rgb(50,50,50);">
                @* buraya veritabanından çek*@
                <div class="row">
                    <div class="col-2">
                        <a asp-action="KalpA" asp-controller="Home" style="background-color:black" onclick="kalp(this)" asp-route-id="@item.Id" ><i class="material-icons" style="color:white" id="kalp">favorite</i></a>
                    </div>
                    <div class="col-2">
                        @item.Begeni
                    </div>
                    <div class="col-8"></div>
                </div>

                @*aciklama kismi*@
                <p>* @item.Aciklama</p>
            </div>
            <div class="row">
                <div class="col-10"> <input type="text" name ="yorum" placeholder="Yorum Ekle..." style="background-color:black;color:white;width:90%"></div>
                <div class="col-2"><button class="btn btn-outline-primary" style="border:none" name="gonder">paylaş</button></div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
}


<script type="text/javascript">
    let durum = false;
    var item = document.getElementById("kalp");
    function kalp(element) {
        durum = !durum;
        if (durum) {
            item.style.color = "red";
            
            
        }
        else {
            element.href = "#";
            item.style.color = "white";
        }
    }
</script>
