@model OgrTum.Models.Ogrenci

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Ogrenci Bilgileri ayrnıtlı olar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
