@model IEnumerable<OgrTum.Models.Ogrenci>


    @if (TempData["ogr"] is not null)
    {
        <h3 style="color:red">@TempData["ogr"]</h3>
    }

<h4>Öğrenciler Listeleniyor</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OgrNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OgrAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OgrSoyad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OgrNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OgrAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OgrSoyad)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new {  id=item.OgrNo }) |
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.OgrNo }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.OgrNo })
            </td>
        </tr>
}
    </tbody>
</table>
